@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root{
    --main-bg-color: rgb(49, 49, 49);
    --orange: rgb(255,164,23);
    --blue: rgb(51,51,101);
}

html{
    font-size: 80%;
}

body{
    font-family: 'Montserrat', sans-serif;
    margin: 0 0 0 0;
    color: white;
    background-color: var(--main-bg-color);
}

a, a:visited, a:link{
  color: white;
  text-decoration: none;
}